[Unit]
Description=Solana Metrics

[Service]
Type=simple
User={{ ansible_facts['env']['USER'] }}
Group={{ ansible_facts['env']['USER'] }}
ExecStart={{ ansible_facts['env']['HOME'] }}/solana-metrics.py

[Install]
WantedBy=multi-user.target
