[Unit]
Description=Ironfish Miner
After=ironfish-node.target
[Service]
User={{ ansible_facts['env']['USER'] }}
WorkingDirectory={{ ansible_facts['env']['HOME'] }}/ironfish/ironfish-cli
ExecStart=/usr/bin/yarn start:once miners:start --threads=-1
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
